body{
    margin: 0;
    padding: 0;
    align-items: center;
    background-color: #ecba9d;
    justify-content: center;
    min-height: 100vh;
    display: flex;
}

.container{
    background: linear-gradient(to bottom right, #F7DED0 50%, #E2BFB3 50%);
    width: 100%;
    padding: 40px;
    margin: 70px;
    border-radius: 30px;
    align-items: center;
    text-align: center;
    color: teal;
    max-width: 400px;

}


.Names{
    
    align-items: center;
    justify-content: center;
    text-align: center;
}

img{
    width: 100px;
    border-radius: 50%;
    margin-right: 10px;
    transition: width 0.3s ease;
}

img:hover{
    width:200px;
}

.zoomed{
    width: 200%;
}

@font-face {
    font-family: brittany;
    src: url(BrittanySignature.ttf);
}

h1{
   font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   font: bolder;
   font-weight:800;
   font-style: italic;
   font-variant: small-caps;
   margin-bottom: 3px;
}
h3{
    margin-top: 3px;
}

a{
    text-decoration: none;
    color: teal;
    border-radius: 20px;
    background: black;
}
#myEmail{
    
    text-decoration: none;
}

.socialLinks{
    padding: 5%;
    align-items: center;
    justify-content: center;
    text-align: center;
    max-width: 300px;
}

#link{
    padding: 5%;
    margin: 2.5%;
    background-color: #ecba9d;
    border-radius: 30px;
    width: 100%;
    
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

#link:hover{
    background-color:#db7a5c;
}


